DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1
LANGUAGE_CODE=en-us
TIME_ZONE=Asia/Kolkata
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=http://localhost:5173
CSRF_TRUSTED_ORIGINS=http://localhost:5173

DJANGO_SECRET_KEY=change-me

DB_ENGINE=django.db.backends.postgresql
DB_NAME=LMS
DB_USER=postgres
DB_PASSWORD=admin
DB_HOST=localhost
DB_PORT=5432
DB_CONN_MAX_AGE=300
DB_CONN_HEALTH_CHECKS=True
DB_CONNECT_TIMEOUT=10
DB_OPTIONS=-c statement_timeout=15000

REDIS_URL=redis://127.0.0.1:6379/1
CHANNEL_REDIS_URL=redis://127.0.0.1:6379/1
CELERY_BROKER_URL=redis://127.0.0.1:6379/1
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/1
DEFAULT_PAGE_SIZE=20
CACHE_TIMEOUT=300
CELERY_TASK_TIME_LIMIT=1800
CELERY_TASK_SOFT_TIME_LIMIT=1500
CELERY_WORKER_PREFETCH_MULTIPLIER=1
CELERY_TASK_ACKS_LATE=True
ENABLE_APSCHEDULER=False
MAX_UPLOAD_SIZE=524288000
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=1440
JWT_REFRESH_TOKEN_LIFETIME_MINUTES=1440
JWT_ROTATE_REFRESH_TOKEN=True
JWT_BLACKLIST_AFTER_ROTATION=True
MEDIA_URL=/media/
STATIC_URL=static/

BACKEND_BASE_URL=http://127.0.0.1:8000

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=mail.vbsai.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@example.com
EMAIL_HOST_PASSWORD=your-email-password
DEFAULT_FROM_EMAIL=your-email@example.com

ESSL_API_WSDL=http://192.168.1.19:85/WebAPIService.asmx?WSDL
ESSL_API_KEY=11
ESSL_SERIAL_NUMBER=NYU7251902533
ESSL_USERNAME=essl
ESSL_PASSWORD=essl

ANTHROPIC_API_KEY=
GOOGLE_API_KEY=
